<?php xml version = "1.0" encoding = "UTF-8"?>
<plugin id="xelrs">
    <events>
        <event type="raise" id="sendAllStatements" />
        <event type="listen" id="Plugins/Events2Lrs" />
        <event type="listen" id="Services/Tracking" />
        <event type="listen" id="Services/Object" />
        <event type="listen" id="Services/Tree" />
        <event type="listen" id="Modules/Test" />
    </events>
    <crons>
        <cron id="xelrs_cronjob_send_statements" class="ilEvents2LrsCron" />
    </crons>
</plugin>